body {
    font-family: comic-sans;
    color: green;
    background-color: pink;
}

table {
    width: 25%;
    text-align: center;
    background-color: yellow;
    color: black;
}

th {
    height: 25px;
    text-align: center;
}